In [23]:
import pandas as pd

In [24]:
reaction_df = pd.read_csv('./data/Reactions.csv', usecols=[1,2,3])
content_df = pd.read_csv('./data/Content.csv', usecols=[1,2,3])
reaction_type_df = pd.read_csv('./data/ReactionTypes.csv', usecols=[1,2,3])

In [25]:
reaction_df

                                 Content ID        Type          Datetime
0      97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust   2020-11-07 9:43
1      97522e57-d9ab-4bd6-97bf-c24d952602d2     dislike  2021-06-17 12:22
2      97522e57-d9ab-4bd6-97bf-c24d952602d2      scared   2021-04-18 5:13
3      97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust  2021-01-06 19:13
4      97522e57-d9ab-4bd6-97bf-c24d952602d2  interested  2020-08-23 12:25
...                                     ...         ...               ...
24568  75d6b589-7fae-4a6d-b0d0-752845150e56     dislike   2020-06-27 9:46
24569  75d6b589-7fae-4a6d-b0d0-752845150e56   intrigued  2021-02-16 17:17
24570  75d6b589-7fae-4a6d-b0d0-752845150e56  interested   2020-09-12 3:54
24571  75d6b589-7fae-4a6d-b0d0-752845150e56     worried  2020-11-04 20:08
24572  75d6b589-7fae-4a6d-b0d0-752845150e56     cherish   2021-01-04 4:55

[24573 rows x 3 columns]

In [26]:
content_df

                               Content ID Content Type         Category
0    97522e57-d9ab-4bd6-97bf-c24d952602d2        photo         Studying
1    9f737e0a-3cdd-4d29-9d24-753f4e3be810        photo   healthy eating
2    230c4e4d-70c3-461d-b42c-ec09396efb3f        photo   healthy eating
3    356fff80-da4d-4785-9f43-bc1261031dc6        photo       technology
4    01ab84dd-6364-4236-abbb-3f237db77180        video             food
..                                    ...          ...              ...
995  b4cef9ef-627b-41d7-a051-5961b0204ebb        video  public speaking
996  7a79f4e4-3b7d-44dc-bdef-bc990740252c          GIF       technology
997  435007a5-6261-4d8b-b0a4-55fdc189754b        audio         veganism
998  4e4c9690-c013-4ee7-9e66-943d8cbd27b7          GIF          culture
999  75d6b589-7fae-4a6d-b0d0-752845150e56        audio       technology

[1000 rows x 3 columns]

In [27]:
reaction_type_df

           Type Sentiment  Score
0         heart  positive     60
1          want  positive     70
2       disgust  negative      0
3          hate  negative      5
4    interested  positive     30
5   indifferent   neutral     20
6          love  positive     65
7    super love  positive     75
8       cherish  positive     70
9         adore  positive     72
10         like  positive     50
11      dislike  negative     10
12    intrigued  positive     45
13      peeking   neutral     35
14       scared  negative     15
15      worried  negative     12

In [28]:
content_df['Category'] = content_df['Category'].str.lower()

In [29]:
merge_df = pd.merge(reaction_df, content_df, on='Content ID')
merge_df

,Content ID,Type,Datetime,Content Type,Category
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 9:43,photo,studying
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22,photo,studying
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 5:13,photo,studying
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13,photo,studying
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25,photo,studying
...,...,...,...,...,...
24568,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,2020-06-27 9:46,audio,technology
24569,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,2021-02-16 17:17,audio,technology
24570,75d6b589-7fae-4a6d-b0d0-752845150e56,interested,2020-09-12 3:54,audio,technology
24571,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,2020-11-04 20:08,audio,technology
24572,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,2021-01-04 4:55,audio,technology

In [30]:
final_df = pd.merge(merge_df, reaction_type_df, on='Type')
final_df

,Content ID,Type,Datetime,Content Type,Category,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 9:43,photo,studying,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13,photo,studying,negative,0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-04-09 2:46,photo,studying,negative,0
3,9f737e0a-3cdd-4d29-9d24-753f4e3be810,disgust,2021-03-28 21:15,photo,healthy eating,negative,0
4,230c4e4d-70c3-461d-b42c-ec09396efb3f,disgust,2020-08-04 5:40,photo,healthy eating,negative,0
...,...,...,...,...,...,...,...
24568,435007a5-6261-4d8b-b0a4-55fdc189754b,adore,2020-10-04 22:26,audio,veganism,positive,72
24569,435007a5-6261-4d8b-b0a4-55fdc189754b,adore,2020-09-18 10:50,audio,veganism,positive,72
24570,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,2020-10-31 3:58,GIF,culture,positive,72
24571,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,2020-06-25 15:12,GIF,culture,positive,72
24572,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,2020-12-17 16:32,GIF,culture,positive,72

In [31]:
final_df.to_csv('./data/output.csv', index=False)

In [32]:
df = pd.read_csv('./data/output.csv')

In [33]:
result = df.groupby('Category')['Score'].sum().reset_index()
result

           Category  Score
0           animals  74965
1           cooking  64756
2           culture  66579
3              dogs  52511
4         education  57436
5           fitness  55323
6              food  66676
7    healthy eating  69339
8   public speaking  49264
9           science  71168
10           soccer  57783
11         studying  54269
12       technology  68738
13           tennis  50339
14           travel  64880
15         veganism  49619

In [34]:
result = result.sort_values(by='Score', ascending=False)
result

           Category  Score
0           animals  74965
9           science  71168
7    healthy eating  69339
12       technology  68738
6              food  66676
2           culture  66579
14           travel  64880
1           cooking  64756
10           soccer  57783
4         education  57436
5           fitness  55323
11         studying  54269
3              dogs  52511
13           tennis  50339
15         veganism  49619
8   public speaking  49264